.container-container-bg {
    background-image: url("/fondo.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100dvh;
  }
  
  @media only screen and (max-width: 425px) {
    .container-container-bg {
      background-image: url("/fondocel.svg") !important;
      background-position: center;
    }
  }

  .w-logo {
    width: 80px;
    height: 150px;
  }

  .w-image-home {
    width: 35px;
    height: auto;
  }


  .custom-rounded-button {
    background-color: #0095d6; /* Color del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    
    /* Bordes personalizados */
    border-top-left-radius: 10px;  /* Redondeo sutil */
    border-bottom-left-radius: 40px; /* Redondeo pronunciado */
    border-top-right-radius: 50px;  /* Circular en la parte superior derecha */
    border-bottom-right-radius: 50px;  /* Circular en la parte inferior derecha */

     /* Sombra con desplazamiento hacia abajo */
     box-shadow: 8px 12px 0px #3cb7ea; /* Color más claro de la sombra */
     position: relative;
  }

  .custom-rounded-button:active {
    box-shadow: 6px 9px 0px #3cb7ea;
    transform: translateY(1px);
  }

  @font-face {
    font-family: "BerlinSans";
    src: url("/fonts/berlinsansfb.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: "BerlinSans", sans-serif !important;
    overflow: hidden;
  }

  @media only screen and (max-width: 784px) {
    body {
      overflow: auto;
    }
  }
  

.dropdown-item-out:active {
  background-color: red !important;
}

.content {
  margin-top: 120px; /* Ajusta este valor según la altura del Navbar */
}

.spinner-container {
  position: relative;
  z-index: 2; /* Asegura que el spinner esté encima del overlay */
}

/* Asegura que el texto y los spinners estén por encima del overlay */
.text-center {
  z-index: 2;
}

.spinner-logo {
  width: 100px;
  z-index: 2;
}

.fadeOutRight {
  animation: infinite linear;
  animation-name: fadeOutRight;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeOutRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-600%, 0, 0);
    transform: translate3d(-600%, 0, 0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  45% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  75% {
    -webkit-transform: none;
    transform: none;
  }
  80% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(600%, 0, 0);
    transform: translate3d(600%, 0, 0);
  }
}

  
  
  